django==2.2.*
git+https://github.com/jazzband/django-debug-toolbar.git#egg=django-debug-toolbar
django-debug-panel
django-axes==5.0.9
django-widget-tweaks
wheel
mysqlclient
python-memcached
lxml
# suds-jurko==0.7.dev0 for dev environnement
suds-jurko==0.6
django-htmlmin
django_compressor
django-compression-middleware
django-static-compress
gunicorn
django-docs
Sphinx
rinohtype
dirty-models-sphinx
sphinx_rtd_theme
sphinxcontrib-getthecode
sphinxcontrib-blockdiag
sphinxcontrib-inlinesyntaxhighlight
#django-celery
redis
#git+https://github.com/celery/kombu.git
#git+https://github.com/celery/celery.git
git+https://github.com/vBlackOut/kombu
git+https://github.com/vBlackOut/celery
git+https://github.com/vBlackOut/django-celery
pysftp
gitpython
anyjson
jsonfield
django-guardian
psycopg2
psycopg2-binary
#kombu==3.0.37
#celery==3.1.26.post2
